html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Menghapus margin default */
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  width: 100%; /* Memastikan form mengambil lebar maksimum yang diizinkan */
  box-sizing: border-box; /* Memastikan padding dan border tidak mempengaruhi lebar total */
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
